$primary: #27ACA1;
$primary-hover: #32BCB1;
$secondary: #DCF6F4;

$olive: #0C0C3D;

$pale: #5D647D;
$pale2: #CFD7DC;
$pale3: #F6F8FA;

$black: #000000;
$white: #FFFFFF;

$primary-dark: #04665E;

$bg: #F8FBFE;

:root {
  --btn-font-size: 18px;
  --menu-font-size: 18px;
  --common-font-size: 18px;
  --large-text-font-size: 22px;
  --header-large-font-size: 64px;
  --header-middle-font-size: 36px;
  --header-small-font-size: 24px;

  --header-margin: 32px;
}
