.person-card {
  padding-top: 80px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 28px;
    background: $pale3;
    border-radius: 16px;
  }

  &__img {
    margin-top: -80px;
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 16px;
  }

  &__text {
    margin-top: 16px;
    color: $pale;
  }

  &__top {

  }

  &__bottom {
    margin-top: 48px;
  }
}

.person-cards {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include media-breakpoint-down(xxl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }
}
